@use '../variables/colors' as c;
@use '../variables/effects' as e;

.frontpage-main-styling{
    flex: 1;
    display: flex;

    img{
        transition: 0.3s;
        object-fit: cover;
        object-position: center;
        position: fixed;
        z-index: -1;
        width: auto;
        height: 100%;
    }

    .catagory-buttons{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
        margin-bottom: 3rem;

        & > *{
            color: azure;
            padding: 0.5rem 2rem;
            height: fit-content;
            border: solid 2px;
            border-radius: 5px;
            box-shadow: e.$shadow-down;
            
            &:first-child{
                background-color: c.$color-orange;
            }

            &:last-child{
                background-color: c.$color-blue;
            }

            &:nth-child(2){
                background-color: c.$color-green;
            }
        }

        & > * :hover{
            color: c.$color-black;
        }
    }
    
}