@use '../variables/colors' as c;
@use '../variables/effects' as e;
@use '../variables/fonts' as f;

h2{
    font-size: f.$font-size-p;
    font-family: f.$font-Lucinda;
}

h3{
    font-size: f.$font-size-heading;
    font-family: f.$font-Lucinda;
}

h4{
    font-size: f.$font-size-subheading;
    font-family: f.$font-Lucinda;
}

p{
    font-family: f.$font-Lucinda;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
    header {
        background-color: c.$color-beige;
        box-shadow: e.$shadow-down;
        position: fixed;
        width: 100%;
        z-index: 1;

        .header-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5rem auto;
        }

        .dropdown-icon{
            display: flex;
            align-items: center;
        }

        .dropdown-menu{            
            position: absolute;
            background-color: c.$color-beige;
            top: 3rem;
            right: 0;
            width: fit-content;
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 50%;

            & > * :hover{
                color: c.$color-orange;
            }
        }

        
    }

    footer{
        height: 3rem;
        background-color: c.$color-beige;
        box-shadow: e.$shadow-up;
        display: flex;
        align-items: center;
    }
}

.header-name{
    display: none
}

.container{
    max-width: 90%;
    margin: 0 auto;
}