@use '../variables/colors' as c;
@use '../variables/effects' as e;
@use '../variables/fonts' as f;

h3{
    font-size: f.$font-size-heading;
    font-family: f.$font-Lucinda;
}

h4{
    font-size: f.$font-size-subheading;
    font-family: f.$font-Lucinda;
}

p{
    font-family: f.$font-Lucinda;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
    header {
        background-color: c.$color-beige;
        box-shadow: e.$shadow-down;

        .header-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5rem auto;

            .header-name{
                display: none
            }
        }

        .dropdown-icon{
            display: flex;
            align-items: center;
        }
    }

    footer{
        height: 3rem;
        background-color: c.$color-beige;
        box-shadow: e.$shadow-up;
        display: flex;
        align-items: center;
    }
}

.container{
    max-width: 90%;
    margin: 0 auto;
}