@media only screen and (min-width: 768px) {

    .app{

        header{
            
            .dropdown-menu{            
                width: 35%;
            }
        }
        
    }

    .container{
        max-width: 70%;
    }

    .header-name{
        display: block
    }
}