$font-Lucinda: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$font-size-small: 0.8rem;
$font-size-nav: 1.2rem;
$font-size-subheading: 1.75rem;
$font-size-heading: 2.5rem;
$font-size-display: 5rem;
