.app{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 100%;
    
    header {
        background-color: blue;

        .header-content{
            display: flex;
        }
    }

    footer{
        height: 3rem;
        background-color: deeppink;
    }
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.frontpage-main-styling{
    flex: 1;

    img{
        transition: 0.3s;
        object-fit: cover;
        object-position: center;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: auto;
    }

    
}

